<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
<servlet>
    <servlet-name>CalculServlet</servlet-name>
    <servlet-class>org.example.arithmeticproject_jee.CalculServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>CalculServlet</servlet-name>
    <url-pattern>/Calculate</url-pattern>
</servlet-mapping>
</web-app>
