<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <servlet>
        <servlet-name>ServletSearch</servlet-name>
        <servlet-class>org.example.middleware_lab2.ServletSearch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSearch</servlet-name>
        <url-pattern>/Find</url-pattern>
    </servlet-mapping>
</web-app>
